# Subs dir
 subscriptions/

AGENTS.md
PLAN.md
Modelfile*
*agent*.sh

# inventory.json
inventory.json

# env and subs files
.env
*.token
*.links
*.b64
*.png
sub.*

# Editor/IDE
 .idea/
 .vscode/
 .DS_store
